<launch>
    <arg name="multi" default="true"/>
    <arg name="rs_left" default="rs_left"/>
    <arg name="rs_right" default="rs_right"/>
    <arg name="rs_front" default="rs_front"/>
    <arg name="rs_back" default="rs_back"/>
    <arg name="respawn" default="true"/>
    
    <!-- child -->
    <arg name="limit_dist" default="0.13"/>
    <arg name="limit_front" default="0.008"/>
    <arg name="limit_side" default="0.008"/>
    <arg name="limit_ang" default="1.0"/>
    <arg name="limit_lift" default="3.0"/>
    <arg name="markerSize" default="0.044"/>

    <!-- rb5 -->
    <!-- <arg name="limit_dist" default="0.15"/>
    <arg name="limit_front" default="0.01"/>
    <arg name="limit_side" default="0.02"/>
    <arg name="limit_ang" default="2.0"/>
    <arg name="limit_lift" default="0.01"/> -->

    <group ns="$(arg rs_left)">
        <param name="tf_prefix" value="$(arg rs_left)"/>
        <include file="$(find aruco_ros)/launch/single.launch">
            <arg name="marker_frame" value="left_marker"/>
            <arg name="camera_frame" value="left"/>
            <arg name="multi" value="$(arg multi)"/>
            <arg name="camera" value="$(arg rs_left)"/>
            <arg name="serial_no" value="933322071584"/>
            <arg name="respawn" value="$(arg respawn)"/>
            <arg name="limit_dist" value="$(arg limit_dist)"/>
            <arg name="limit_front" value="$(arg limit_front)"/>
            <arg name="limit_side" value="$(arg limit_side)"/>
            <arg name="limit_ang" value="$(arg limit_ang)"/>
            <arg name="limit_lift" value="$(arg limit_lift)"/>
        </include>
    </group>
    <group ns="$(arg rs_right)">
        <param name="tf_prefix" value="$(arg rs_right)"/>
        <include file="$(find aruco_ros)/launch/single.launch">
            <arg name="marker_frame" value="right_marker"/>
            <arg name="camera_frame" value="right"/>
            <arg name="multi" value="$(arg multi)"/>
            <arg name="camera" value="$(arg rs_right)"/>
            <arg name="serial_no" value="938422072158"/> 
            <arg name="respawn" value="$(arg respawn)"/>
            <arg name="limit_dist" value="$(arg limit_dist)"/>
            <arg name="limit_front" value="$(arg limit_front)"/>
            <arg name="limit_side" value="$(arg limit_side)"/>
            <arg name="limit_ang" value="$(arg limit_ang)"/>
            <arg name="limit_lift" value="$(arg limit_lift)"/>
        </include>
    </group>
   
    <!-- <group ns="$(arg rs_front)">
        <param name="tf_prefix" value="$(arg rs_front)"/>
        <include file="$(find aruco_ros)/launch/single.launch">
            <arg name="marker_frame" value="front_marker"/>
            <arg name="camera_frame" value="front"/>
            <arg name="multi" value="$(arg multi)"/>
            <arg name="camera" value="$(arg rs_front)"/>
            <arg name="serial_no" value="938422075436"/>
            <arg name="respawn" value="$(arg respawn)"/>
            <arg name="limit_dist" value="$(arg limit_dist)"/>
            <arg name="limit_front" value="$(arg limit_front)"/>
            <arg name="limit_side" value="$(arg limit_side)"/>
            <arg name="limit_ang" value="$(arg limit_ang)"/>
            <arg name="limit_lift" value="$(arg limit_lift)"/>
        </include> 
    </group>
    <group ns="$(arg rs_back)">
        <param name="tf_prefix" value="$(arg rs_back)"/>
        <include file="$(find aruco_ros)/launch/single.launch">
            <arg name="marker_frame" value="back_marker"/>
            <arg name="camera_frame" value="back"/>
            <arg name="multi" value="$(arg multi)"/>
            <arg name="camera" value="$(arg rs_back)"/>
            <arg name="serial_no" value="938422071303"/>
            <arg name="respawn" value="$(arg respawn)"/>
            <arg name="limit_dist" value="$(arg limit_dist)"/>
            <arg name="limit_front" value="$(arg limit_front)"/>
            <arg name="limit_side" value="$(arg limit_side)"/>
            <arg name="limit_ang" value="$(arg limit_ang)"/>
            <arg name="limit_lift" value="$(arg limit_lift)"/>
        </include> 
    </group> -->

    <!-- Run Rviz-->
    <group if="$(arg multi)">
        <node pkg="rviz" type="rviz" name="aruco_rviz" args="-d $(find aruco_ros)/rviz/display_aruco.rviz" />
    </group>
</launch>